@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background-color: #fff;
  border-color: #b83336;
}

select,
input,
textarea {
  border: 0.5px solid #c2c2c2;
  outline-color: #b83336;
  border-radius: 4px;
}
body {
  @apply font-josefin;
}
